@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  font-family: 'Rock Salt', cursive;
  font-size: 30
}

code {
  font-family: 'Rock Salt', cursive;
}

div.App {
  background-color: lightsteelblue;
  font-family: 'Rock Salt', cursive;
}

div {
  background-color: lightsteelblue;
  font-family: 'Rock Salt', cursive;
}

div.jumbotron {
  background-color: lightsteelblue;
}

div.dropdown nav-item {
  font-family: 'Rock Salt', cursive;
}
